.chat-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(36, 36, 63, .8) 15%, rgba(36, 36, 63, .8) 70%, rgba(36, 36, 63, .8) 110%),
  url("assets/bg.png");
}

.bars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(26, 26, 52, .4);
  padding: 10px;
}

app-tab-bar {
  overflow: hidden;
  flex-grow: 1;
}

.main {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  overflow: auto;
}
