virtual-scroller {
  display: block;
  width: 100%;
}

.user-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 300px;
  color: white;
  padding: 10px;
  background-color: rgb(56, 56, 92);
  font-size: 18px;
  line-height: 27px;

  hr {
    width: 100%;
  }

  .field {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: initial;
  }

  .users {
    overflow-y: scroll;
  }
}
