.buttons {
  display: flex;

  & > * {
    margin-left: 10px;
  }

  .logout {
    color: white;
    background-color: rgba(255, 41, 41, 0.65);
    font-size: 1.5rem;
    width: 34px;
    height: 34px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #ff3a3a;
    }
  }

  .users {
    color: white;
    background-color: rgba(71, 81, 173, 0.65);
    font-size: 1.2rem;
    width: 34px;
    height: 34px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgb(82, 93, 194);
    }
  }

  .settings {
    color: white;
    background-color: rgba(71, 81, 173, 0.65);
    font-size: 1.5rem;
    width: 34px;
    height: 34px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgb(82, 93, 194);
    }
  }
}
