.coming-soon-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #737396;
  height: 100%;
  font-size: 18px;
  cursor: default;
}

.general {
  height: 100%;
  padding: 20px 20px;
  
  .settings {
    display: flex;
    flex-direction: column;

    .remember-credentials {
      margin-bottom: 20px;
      max-width: 300px;
      width: 100%;
    }
  }

  .cleared-input {
    margin: 0 0 20px 0;
    padding: 0;
  }
}
