<!--<div class="coming-soon-container mat-typography">-->
<!--  There are no general settings yet. Stay tuned!-->
<!--</div>-->

<div class="general">
  <h1>General</h1>
  <form class="settings">
    <mat-form-field appearance="outline" class="cleared-input">
      <mat-label>API Key</mat-label> 
      <input matInput type="password" [ngModel]="apiKey$ | async" (ngModelChange)="changeSetting('apiKey', $event)" [ngModelOptions]="{ standalone: true }">
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="cleared-input">
      <mat-label>Referee Key</mat-label> 
      <input matInput type="password" [ngModel]="refereeKey$ | async" (ngModelChange)="changeSetting('refereeKey', $event)" [ngModelOptions]="{ standalone: true }">
    </mat-form-field>

    <mat-form-field appearance="outline" class="cleared-input">
      <mat-label>MP start time</mat-label>
      <input matInput type="number" [ngModel]="mpStartTime$ | async" (ngModelChange)="changeSetting('mpStartTime', $event)" class="mp-start-time" [ngModelOptions]="{ standalone: true }">
    </mat-form-field>

    <mat-checkbox [checked]="rememberCredentials$ | async" (change)="changeSetting('rememberCredentials', $event.checked)" class="remember-credentials" color="primary">
      Remember credentials
    </mat-checkbox>

    <button mat-raised-button (click)="openChangelog()">Open latest changelog</button>
  </form>
</div>
