.tab-area {
  display: flex;
  overflow: auto;
  
  .join {
    cursor: pointer;
    color: white;
    border-radius: 100%;
    height: 28px;
    width: 28px;
    margin-left: 10px;
    min-width: 28px;
    

    &:hover {
      background-color: #2a9a32;
      transition-duration: .2s;
    }

    &::after {
      content: "+";
      font-size: 1rem;
      position: absolute;
      top: 4.25px;
      left: 9.25px;
    }
  }
}

.tab-container {
  display: flex;
  align-items: flex-end;

  &::-webkit-scrollbar {
    height: 3px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    /*background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;*/
    background: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
    /*border: thin solid gray;*/
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
  }

  .tab {
    padding: 4px 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 7px 7px 0 0;
    display: flex;
    font-weight: 300;
    justify-content: space-between;

    .channel-text {
      font-family: Consolas, monospace;
      font-size: 1rem;
      margin: 0 10px 0 12px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &.unread {
      background-color: rgba(255, 154, 37, 0.6);
    }

    .leave {
      opacity: 0;

      color: white;
      cursor: pointer; 
      
      font-size: 1rem;
    }

    
    &.active {
      background-color: rgba(255, 255, 255, 0.9);
      color: rgba(36, 36, 63, .8);

      .leave {
        color: rgba(36, 36, 63, .8);
      }
    }

    &:hover {
      .leave {
        opacity: 1;
      }
    }
  }
}

.cdk-drag-preview {
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 7px 7px 0 0;
  display: flex;
  font-weight: 300;

  .channel-text {
    font-family: Consolas, monospace;
    margin: 0 8px 0 12px;
    font-size: 1rem;
  }

  &.active {
    background-color: white;
    color: rgba(36, 36, 63, .8);
  }

  &.unread {
    background-color: rgba(255, 154, 37, 0.6);
  }

  .leave {
    display: none;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
