<div class="tab-area">
  <div #scroll #tabContainer class="tab-container" (wheel)="onWheel($event)" cdkDropList (cdkDropListDropped)="rearrange($event)" cdkDropListOrientation="horizontal">
    <div matRipple class="tab" *ngFor="let channel of channels" (click)="onSetChannel(channel)" (auxclick)="onMiddleClickChannel($event, channel)"
         [ngClass]="{'active': channel === currentChannel, 'unread': isUnread(channel)}" (mousedown)="removeMouseDown($event)"
         cdkDragLockAxis="x" cdkDragBoundary=".tab-container" cdkDrag>
      <span class="channel-text">{{channel}}</span>
      <span class="leave" (click)="onLeaveChannel($event, channel)">✕</span>
    </div>
  </div>
  <div matRipple class="join" (click)="onJoinChannelClick()"></div>
</div>


