.notifications {
  height: 100%;
  padding: 20px;

  .settings {
    display: flex;
    flex-direction: column;

    .enable-sounds {
      margin-bottom: 15px;
      width: 300px;
    }

    .sound-picker button {
      margin-left: 10px;
    }

    .notification-sound-select {
      max-width: 300px;
      width: 100%;
    }
  }
}

.notification-keywords {
  max-width: 300px;
}
