mat-form-field::ng-deep .mat-form-field-wrapper {
  padding-bottom: 5px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgba(36, 36, 63, .8) 15%, rgba(36, 36, 63, .8) 70%, rgba(36, 36, 63, .8) 110%),
  url("assets/bg.png");

  .login-box {
    width: 300px;
    padding: 20px 10px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1);

    .login-form {
      display: flex;
      flex-direction: column;
    }

    .logo {
      width: 150px;
      height: auto;
      margin-bottom: 20px;
      align-self: center;
    }

    .title {
      color: white;
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 2rem;
      text-align: center;
    }

    .irc-help-container {
      margin-top: 10px;
      padding-bottom: 0;
      display: flex;
      justify-content: center;

      .irc-help {
        font-size: 0.7rem;
        color: #c4c4c4;
      }
    }

    .spinner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input {
      width: 100%;
    }

    mat-checkbox {
      color: white;
      margin: 10px 0;
    }
  }
}

.version {
  position: absolute;
  font-size: 0.6rem;
  color: #9e9e9e;
  right: 5px;
  bottom: 2px;
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
    stroke: white;
  }
}
