.input-bar {
  height: 50px;
  display: flex;
  flex-direction: row;

  .input-text {
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.1rem;
    padding: 0 10px;
    flex-grow: 1;
  }

  .input-submit {
    height: 100%;
    margin: auto 0; 
    text-align: center;
    font-size: 1.3rem;
    padding: 0 10px;
    background-color: #2a9a32;
    color: white;
    outline: none;
    border: none;
  }
}
