<div class="user-bar">
  <div class="main-data">
    <div class="field lobby-name">{{mpLobby?.roomName !== '' ? mpLobby?.roomName : mpLobby?.mpId}}</div>
    <div class="field players">Players: {{mpLobby?.players.length}}</div>
    <div class="field beatmap">Current map: <span *ngIf="mpLobby?.beatmapId === ''">none</span><a
        *ngIf="mpLobby?.beatmapId !== ''" [attr.href]="'https://osu.ppy.sh/b/'+mpLobby?.beatmapId"
        target="_blank">{{mpLobby?.beatmapId}}</a></div>
    <div class="field mods">Current mods: {{mpLobby?.mods.length === 0 ? 'none' : mpLobby?.mods}}</div>
    <div class="field freemod">Freemod: {{mpLobby?.freemod}}</div>
    <div class="field condition">Win condition: {{mpLobby?.winCondition}}</div>
    <div class="field mode">Team mode: {{mpLobby?.teamMode}}</div>
  </div>
  <hr>
  <div class="scores">
    Score:
    <div class="team-score field" *ngFor="let teamScore of mpLobby?.scores">
      <div [ngClass]="{'red': teamScore.team === 'red', 'blue': teamScore.team === 'blue'}">
        {{teamScore.team}}
        <span *ngIf="teamScore.alias">({{teamScore.alias}})</span>
      </div>
      <div>{{teamScore.score}}</div>
    </div>
  </div>
  <hr>
  <div class="actions deviders">
    <a (click)="refresh.emit()">refresh</a> 
    <a (click)="start.emit(mpStartTime)">start in {{mpStartTime}}s</a>
    <a (click)="abort.emit()">abort</a>
  </div>
  <div class="actions deviders">
    <a (click)="show.emit()">show</a> 
    <a (click)="wrap.emit()">wrap</a>
  </div>
  <hr>
  <div class="auto-shap">
    <mat-checkbox [checked]="mpLobby?.autoshow" (change)="setAutoshow.emit($event.checked)" class="checkbox"  color="primary">
      Autoshow
    </mat-checkbox>
    <mat-checkbox [checked]="mpLobby?.autowrap" (change)="setAutowrap.emit($event.checked)" class="checkbox" color="primary">
      Autowrap
    </mat-checkbox>
  </div>
  <hr>
  <div class="wrap-picker">
    Wrap condition:
    <div class="actions deviders">
      <a *ngFor="let wrapCondition of wrapConditions"
        [ngClass]="{'active': wrapCondition === mpLobby?.wrapCondition }"
        (click)="setWrapCondition.emit(wrapCondition)">
        {{wrapCondition}}
      </a>
    </div>
  </div>
  <hr>
  <div class="users">
    <div class="user field" *ngFor="let player of mpLobby?.players">
      {{player.slot}}: <span class="name"
        [ngClass]="{'red': player.team === 'red', 'blue': player.team === 'blue'}">{{player.username}}</span>
    </div>
  </div>
</div>
