virtual-scroller {
  display: block;
  width: 100%;
}

.user-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 320px;
  color: white;
  padding: 10px;
  background-color: rgb(56, 56, 92);
  font-size: 18px;
  line-height: 27px;

  hr {
    width: 100%;
  }

  .field {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: initial;
  }

  .field, .users {
    overflow-y: scroll;
  }

  .actions {
    text-align: center;
    cursor: pointer;
  }

  .score {
    overflow-y: scroll;
  }

  .deviders > * {
    margin-right: 12px;
    position: relative;

    &::after {
      content: "|";
      position: absolute;
      width: 2px;
      height: 100%;
      right: -6px;
      color: white;
    }

    &:last-child {
      margin-right: 0px;

      &::after {
        display: none;
      }
    }
  }

  .lobby-name {
    font-weight: 800;
  }

  .user {
    color: rgb(184, 184, 184);
  }

  .name {
    color: white;
    padding: 0 2px;
    border-radius: 2px;
  }

  .red {
    background-color: rgb(255, 0, 0);
  }

  .blue {
    background-color: rgb(47, 47, 255);
  }

  .team-score {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }

  .active {
    color: white;
    cursor: auto;
  }

  .auto-shap {
    display: flex;
    justify-content: space-between;
  }

  .wrap-picker .actions > *:nth-child(3)::after {
    display: none;
  }
}
