:host {
  flex-grow: 1;
  flex-shrink: 0;
}

virtual-scroller {
  display: block;
  width: 100%;
  height: 100%;
  word-break: break-word;
  overflow-x: hidden !important;
}

.parent-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
}

.message {
  color: #ffffff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  margin-bottom: 5px;
  font-size: 16px;

  .date {
    margin-right: 8px;
    color: #c0c0c0;
    font-family: Consolas, monospace;
    word-break: keep-all;
  }

  .sender {
    margin-right: 8px;
    cursor: pointer;
    word-break: keep-all;
    text-align: right;
    flex-grow: 0;
    flex-shrink: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;

    &.self {
      color: white;
    }

    &.operator {
      color: #ff5232;
    }

    &.normal {
      color: #ffc561;
    }

    &.bancho {
      color: #f1b7c2;
    }

    &.peppy {
      color: #41d4ef;
    }

    &.author {
      color: #39ef82;
    }

    &.team-red span {
      background-color: rgb(255, 0, 0);
      padding: 0 4px;
      border-radius: 4px;
    }

    &.team-blue span {
      background-color: rgb(47, 47, 255);
      padding: 0 4px;
      border-radius: 4px;
    }
  }

  &.action {
    color: rgb(171, 171, 231);

    .sender {
      cursor: default;
    }
  }

  &.highlight {
    .message-text {
      padding: 0 4px;
      background-color: #e4782b;
      color: white;
      font-weight: bold;
      border-radius: 4px;
    }
  }
}

.empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444461;
  font-size: 36px;
  cursor: default;
  user-select: none;
}
