<div class="parent-container">
  <virtual-scroller #scroll [items]="messages" [enableUnequalChildrenSizes]="true" (vsUpdate)="viewPortItems = $event">
    <div class="message" [ngClass]="{ action: msg.action, highlight: !msg.action && includesCaseInsensitive(msg.message, myUsername) }"
      *ngFor="let msg of viewPortItems">
      <span class="date">[{{ parseDate(msg.date) }}]</span>
      <span class="sender {{msg.sender | role: currentChannel}}" *ngIf="!msg.action" (click)="clickUser(msg.sender)">
        <span>{{ msg.sender }}:</span>
      </span>
      <span class="sender action" *ngIf="msg.action">{{ msg.sender }}</span>
      <span class="message-text" [innerHTML]="msg.message | parse"></span>
    </div>
  </virtual-scroller>

  <div *ngIf="!messages || messages.length === 0" class="empty">There are no messages to display</div>
</div>
